<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
    <script src="/javascripts/plugin/jquery2.1.4.min.js"></script>
    <script src="/javascripts/plugin/jquery-dataBinder.js"></script>
</head>
<body>
<%=title %>
<p>用户名：<%=data.userName %></p>
<p>密码：<%=data.pwd %></p>
<button id="ds">aaa</button>
<button id="dss">bbb</button>
A



<p><input type="text" jq-bind="#a" /></p>
<p><input type="text" jq-bind=".b" /></p>
<p><input type="text" jq-bind=".b" /></p>
<p><input type="text" jq-bind=".bb" /></p>
<p>
    <input type="radio" value="ds" jq-bind=".cc" name="cc" />
    <input type="radio" value="dss" jq-bind=".cc" name="cc" />
</p>
<p>
    <input type="checkbox" value="1" jq-bind=".qqq" name="ccc" />
    <input type="checkbox" value="2" jq-bind=".qqq" name="ccc" />
    <input type="checkbox" value="3" jq-bind=".qqq" name="ccc" />
</p>
<p><textarea jq-bind=".abb"></textarea></p>
<p>
    <select jq-bind=".acc">
        <option value="">null</option>
        <option value="dfd">dfd</option>
        <option value="011">011</option>
    </select>
</p>

<p class="qqq"></p>
<p class="cc">aaq</p>
<p class="abb"></p>
<span id="a">aa</span>
<p id="a">aa</p>
<span class="b">aa</span>
<div class="b">aa</div>
<p class="b">aa</p>
<p class="acc"></p>

<script>
  $('#ds').click(function() {
      $('body').append('<p class="bb">aa</p>');
      dataBinder.setter('.bb','1235');
      $.ajax({
          type:'get',
          url:'/api/getUserList',
          success:function(data){
              console.log(data);
          }
      })
  });
    $('#dss').click(function() {
        console.log(dataBinder.getter('.qqq'));
        console.log(dataBinder.getter('.b'));
        console.log(dataBinder.getter('.bb'));
        console.log(dataBinder.getter('.cc'));
    });
</script>
</body>
</html>