<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="问答,文档,代码,控件,视频,案例,开发工具,知识聚集,分享,机器人"/> 
<meta name="description" content="云课堂是网易公司研发的一款大型在线教育平台服务，该平台面向学习者提供海量免费、优质课程，创新的个性化学习体验， 自由开放的交流互动环境。继网易公开课后，云课堂是网易公司在教育领域的又一重量级产品。"/> 
	<link rel="stylesheet" type="text/css" href="/stylesheets/css_rest.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
	<script src="/javascripts/plugin/jquery2.1.4.min.js"></script>
	<title>登录</title>
</head>
<body>
	<div class="bss_login_wrap">
		<div class="bss_login_main">
			<h3>运营支撑管理平台</h3>
			<div class="bl_main">
				<div class="bl_main_con">
					<p class="tips">你的密码错误？？验证码错了？</p>
					<form class="login_input" id="loginForm">
						<p class="mb15 icon_left">
							<span  class="m_icon">header<img src="/images/login/name_icon.png" alt=""></span>
							<input  type="text" placeholder="用户名" name="uname" class="text"/>
						</p>
						<p class="mb15 icon_left">
							<span class="m_icon">password<img src="/images/login/password_icon.png" alt=""></span>
							<input  type="text" placeholder="密码" name="pwd" class="text"/>
						</p>
						<p class="yzm_line mb15">
							<input  type="text" placeholder="验证码" class="text" />
							<a href="###" class="close"><img src="/images/login/close.png"></a>
							<span class="yzm_icon"><img src="/images/login/yzm_icon.png"></span>
						</p>
						<p class="pd_choose mb15">
							<a href="javascript:;" class="forget_pd">忘记密码?</a>
							<label><input type="checkbox">记住密码</label>
						</p>
						<div class="post_bt">
							<a href="javascript:;" class="login mb20" id="login">登录</a>
							<a href="javascript:;" class="register mb20">注册</a>
						</div>
					</form>

				</div>
			</div>
		</div><!-- bss_main off-->
	</div><!--bss_login_wrap off-->
	<script src="/javascripts/logic/login.js"></script>
</body>
</html>


